@font-face {
  font-family: "Helvetica Rounded Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Helvetica Rounded Bold"),
    url("helvetica-rounded-bold-5871d05ead8de.woff") format("woff");
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src:
    local("Helvetica"),
    url("Helvetica-Bold.woff") format("woff");
}
